
<div class="header">PLAY3D</div>
<div class="hamburger-menu">
    <input id="navtoggle" type="checkbox" />
    <label class="navbtn" for="navtoggle">
      <span></span>
    </label>
    <ul class="navbox">
      <li><a class="navlink" href="/newpost">write a review</li>
      <li><a class="navlink" href="/">home</a></li>
			<li><a class="navlink" href="/discover">discover</a></li>
			<li><a class="navlink" href="/lists">lists</a></li>
			<li><a class="navlink" href="/profile">profile</a></li>
			<li><a class="navlink" href="/settings">settings</a></li>
    </ul>
  </div>
