<!DOCTYPE html>
  <html lang="en" dir="ltr">
  <%- include("partials/head.ejs") %>
  <%- include("partials/nav.ejs") %>
  <body>
    <% for(let i = 0; i < reviews.length; i++) { %>
      <div class="reviewpost">
        <%=reviews[i].review; %>
      </div>
    <%}%>
  </body>
</html>
