<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("partials/head.ejs") %>
  <%- include("partials/nav.ejs") %>
  <body>
    <div class="alllists">
      <div class="listcontainer">
        <h2>Shouldn't be horror but is</h2>
        <h3>by edamnsel</h3>
        <div class="listitem">
          <img src="https://cdn.vox-cdn.com/thumbor/rBYEFU3kgBZVE2FGj72oPaMRbXk=/0x0:5600x3150/1200x800/filters:focal(2264x499:3160x1395)/cdn.vox-cdn.com/uploads/chorus_image/image/66653777/LogoVersion_Beta_Key_Art_VALORANT.0.jpg">
          <img src="https://assets-prd.ignimgs.com/2021/11/04/pokmon-legends-arceus-button-fomn-1636006738698.jpg">
        </div>
      </div>
      <div class="listcontainer">
        <h2>Terrible fishing minigames</h2>
        <h3>by edamnsel</h3>
        <div class="listitem">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2hs3BfCAoVMuu9BLU_mvQCwm8DqS33e8LRyClGfCK7bQqau3Hh9PvoBV-1doEjV8zri4&usqp=CAU">
        </div>
      </div>
      <div class="listcontainer">
        <h2>acab including me when i play these games</h2>
        <h3>by edamnsel</h3>
        <div class="listitem">
          <img src="https://image.api.playstation.com/gs2-sec/appkgo/prod/CUSA09172_00/3/i_4e484f183c1e8aaad6bc80b05e40b634ae09651dfcb1c378f170bd8a2d7e6770/i/icon0.png">
        </div>
      </div>
      <div class="listcontainer">
        <h2>be gay do crimes</h2>
        <h3>by edamnsel</h3>
        <div class="listitem">
          <img src="https://cdn1.epicgames.com/spt/9dcb57c3-e7cc-4468-b748-c341b317ff77/song-of-farca-offer-53e586a3.png">
          <img src="https://cdn1.epicgames.com/3928fd8975b2437d894bbc5cd21de9a0/offer/SRTT_Tall-512x682-83e0de7dcccfbfdaa10f5fee5d2f1242.jpg">
          <img src="https://cdn.akamai.steamstatic.com/steam/apps/320240/capsule_616x353.jpg?t=1575388728">
        </div>
      </div>
    </div>
  </body>
</html>
