<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("partials/head.ejs") %>
  <%- include("partials/nav.ejs") %>
  <body>
    <div class="profileinfo">
      <img class="pfp" src="https://pbs.twimg.com/media/FFzZmt4WYAIJD62?format=jpg&name=360x360">
      <h1>edamnsel</h1>
      <div class="usernames">
        <ul>
          <li><a href="/">Steam</a></li>
          <li><a href="/">Epic</a></li>
          <li><a href="/">tracker.gg</a></li>
          <li>Switch Code: </li>
          <li>Gamertag: </li>
          <li>Riot Games: </li>
        </ul>
      </div>
      <div class="socials">
        <ul>
          <li><a href="/"><i class="fa-brands fa-discord"></i></a></li>
          <li><a href="/"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="/"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="/"><i class="fa-brands fa-twitch"></i></a></li>
          <li><a href="/"><i class="fa-brands fa-discord"></i></a></li>
        </ul>
      </div>
      <div class="favegames">
        <ul>
          <li><img src=""></li>
          <li><img src=""></li>
        </ul>
      </div>
    </div>
  </body>
</html>
