/*ALL*/
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  background-color: #020300;
}

/*NAV*/
#navtoggle {
  opacity: 0;
}
#navtoggle:checked + .navbtn > span {
  transform: rotate(45deg);
}
#navtoggle:checked + .navbtn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#navtoggle:checked + .navbtn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#navtoggle:checked ~ .navbox {
  left: 0;
}
.navbtn {
  position: fixed;
  top: 30px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.navbtn > span,
.navbtn > span::before,
.navbtn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.navbtn > span::before {
  content: '';
  top: -8px;
}
.navbtn > span::after {
  content: '';
  top: 8px;
}
.navbox {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #020300;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.navlink {
  display: block;
  padding: 12px 24px;
  color: #5BC0BE;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  font-family: 'Questrial', sans-serif;
}
.navlink:hover {
  background-color: #592E83;
  color: #ECA72C;
}
.header {
  background-color: #191718;
  width: 100%;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  font-family: 'VT323', monospace;
  font-size: 5em;
  color: #ECA72C;
  text-shadow: 0 1px 0px #A90D45, 1px 0 0px #D81159, 1px 2px 1px #A90D45, 2px 1px 1px #D81159, 2px 3px 2px #A90D45, 3px 2px 2px #D81159, 3px 4px 2px #A90D45, 4px 3px 3px #D81159, 4px 5px 3px #A90D45, 5px 4px 2px #D81159, 5px 6px 2px #A90D45, 6px 5px 2px #D81159, 6px 7px 1px #A90D45, 7px 6px 1px #D81159, 7px 8px 0px #A90D45, 8px 7px 0px #D81159;
}
.header h1 {
  padding: 3em;
}

/*DISCOVER*/
.griddiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  margin-left: 5em;
  align-self: center;
}
.gamecontainer {
  display: flex;
  flex-direction: column;
  margin: 2em;
  align-items: center;
  box-shadow: -10px 0px 13px -7px #592e83, 10px 0px 13px -7px #592e83, 5px 5px 15px 5px rgba(0,0,0,0);
}
.gridimg {
  width: 200px;
  height: 200px;
}

/*SHOW*/
.showbody {
  text-align: center;
}
.gameimg {
  width: 500px;
  height: 400px;
  float: left;
  margin: 1em;
  border: 1px solid #191718;
  padding: 10px;
}
.gameinfo{
  width: 80%;
}
.showbody h1 a {
  font-family: 'Odibee Sans', cursive;
  color: #D81159;
  text-shadow: 4px 3px 0 #592e83;
  background-color: #191718;
  text-align: center;
  font-size: 5em;
}
.showbody h1 a:hover{
  color: #5BC0BE;
}
.gamedetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  background-color: #191718;
}
.gamedetails, .gamedesc{
  color: #5BC0BE;
  font-family: 'Questrial', sans-serif;
  font-size: 3em;
}
.tags {
  color: #592e83;
}

/*DROPDOWN & POST PAGE*/
.newpostform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: 'Questrial', sans-serif;
  color: #5BC0BE;
  border: 5px double #191718;
  padding: 1em;
  width: 80%;
}
.dropdownnav {
  width: 200px;
  margin: 40px auto;
  text-transform: uppercase;
}
.reviewbox {
  display: flex;
  flex-direction: column;
}
.droptitle {
  padding: 10px;
  background: #191718;
  font-size: 1em;
  cursor: pointer;
  display: block;
  color: #5BC0BE;
  align-self: center;
}
.gameTitle {
  color: #5BC0BE;
}
.gamelist {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: scroll;
  transition: height .4s ease;
  padding: 0;
}
.gamelist li {
  padding: 10px;
}
#touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}
#touch:checked + .gamelist {
  height: 200px;
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

/* INDEX */
.homefeed {
  display: flex;
  flex-direction: column;
}
.reviewpost {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
  background-color:#191718;
  color: #5BC0BE;
  padding: 1em;
  margin: 1em;
  align-items: space-between;
  font-family: 'Questrial', sans-serif;
}
.btns {
  margin: 1em;
}
.reviewpost h1, .reviewpost h3 {
  color: #ECA72C;
  font-family: 'Odibee Sans', cursive;
  text-shadow: #592E83 3px 5px 2px;
}
.reviewpost h1 {
  color: #ECA72C;
}
.reviewpost h3 {
  color: #A90D45;
}
.btn {
  align-items: center;
  font-family: 'Questrial', sans-serif;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-size: 10px;
  height: 30px;
  width: 50px;
  justify-content: center;
  line-height: 1;
  margin: .5em;
  padding: 0 32px;
  text-align: center;
}
.btn:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}
.btn:active{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/* PROFILE */
.socials a{
  color: #eee;
}
.favegames {
  overflow: scroll;
}
